body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

main {
    padding: 0 20px;
}

#question-display {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* height: 100vh; */
    margin: 20px 0;
}

.question {
    background-color: #eaf1fb;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b4d3ff;
    font-size: 22px;
}

p{
    margin-bottom: 5px;
}

.question ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 5px;
}

li {
    font-size: 20px;
    margin-bottom: 5px;
}

.prev-button {
    background-color: #007bff; /* Light gray background color */
    color: #fff; /* Dark text color */
    padding: 10px 20px; /* Padding around the button text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
    float: right; /* Float the button to the right */
    margin-right: 10px; /* Add some margin to separate it from the "Next" button */
    margin-top: 20px;
}

/* Style for the Previous button on hover */
.prev-button:hover {
    background-color: #0056b3; /* Slightly darker gray on hover */
}

/* Style for the Next button */
.next-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the button text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
    float: right; /* Float the button to the right */
    margin-top: 20px;
}

/* Style for the Next button on hover */
.next-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.submit-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the button text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
    float: right; /* Float the button to the right */
    margin-top: 20px;
}

.submit-button:hover{
    background-color: rgb(255, 102, 0);
}
